<div class="d-flex justify-content-end">
    <button class="btn btn-primary" @onclick="OnCreate">Agregar</button>
    <button class="btn btn-warning ms-2" @onclick="OnEdit" disabled="@IsEditDisabled">Editar</button>
    <button class="btn btn-danger ms-2" @onclick="OnDelete" disabled="@IsDeleteDisabled">Eliminar</button>
    <button class="btn btn-secondary ms-2" @onclick="OnRefresh">Actualizar</button>
</div>


@code {
    // Parámetros para definir si los botones están deshabilitados
    [Parameter]
    public bool IsEditDisabled { get; set; }

    [Parameter]
    public bool IsDeleteDisabled { get; set; }

    // Eventos que se disparan al hacer clic en cada acción
    [Parameter]
    public Action OnCreate { get; set; }

    [Parameter]
    public Action OnEdit { get; set; }

    [Parameter]
    public Action OnDelete { get; set; }

    [Parameter]
    public Action OnRefresh { get; set; }
}
