@page "/carts"

@* TODO: Inyectar ViewModel *@

<PageTitle>Carritos</PageTitle>

<h5>Carritos</h5>

@* TODO: Agregar el componente CommandBar y definir sus respectivas acciones *@
@* TODO: Agregar el componente GridControl y definir sus respectivos parametros y acciones *@
@* TODO: No mostrar el atributo productos en la grid *@

@code {
    protected override async Task OnInitializedAsync()
    {
        // TODO: Configurar ViewModel
        await base.OnInitializedAsync();
    }
}
