@page "/products"

@inject ProductsViewModel ViewModel

<PageTitle>Productos</PageTitle>

<h5>Productos</h5>

@* TODO: Aqui va la grid generica *@

@code {
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.InicializarAsync();
        await base.OnInitializedAsync();
    }
}
