@page "/users/{userId:int}"
@page "/users/{nuevo}"

<PageTitle></PageTitle>

<h3>UserView</h3>

@code {
    [Parameter]
    public int userId { get; set; }

    [Parameter]
    public string? nuevo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
